*{
  padding: 0;
  margin: 0;
}
.nav{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  gap: 0px 10px;
  background-color: white;
  list-style: none;
  padding: 10px 5px 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav li:hover{
  color: rgb(4, 170, 90);
  cursor: pointer;
  border-bottom: 3px solid rgb(4, 170, 90);
  transform: translateY(-5px);
}
.nav li{
  padding: 10px 10px;
  height: 15px;
  font-size: 13px;
  border-bottom: 3px solid white;
  transition: 0.3s ease;

}
.nav img{
  background-color: darkorchid;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  height: 50px;
  width: auto;
}
.nav-button{
  background-color: rgb(4, 170, 90);
  color: white;
  padding: 0px 10px;
  margin-top:15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  height: 30px;
}
.nav-button:hover{
  background-color: darkblue;
  cursor: pointer;
}
/* nav css end */

/* section main-parent start */
.main-parent{
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-position: center;

}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 70px 0px 100px 0px;
  font-family: Arial, Helvetica, sans-serif;

}
.main-ul li{
  background-color: white;
  list-style: none;
  padding: 5px 15px;
  letter-spacing: 1px;
  border: none;
  border-radius: 20px;
  color: rgb(4, 170, 90);
  /* font-weight: bold; */
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-ul li:hover{
  color: white;
  background-color: darkblue;
  cursor: pointer;
}
.main-ul{
  height: 5vh;
}
.text-1{
  color: white;
  font-size: 70px;
  font-weight: bold;
  height: 20vh;
}
.s{
  font-size: 120px;
  border: 7px solid white;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0px 5px;
  margin-right: 5px;
  color: darkorange;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.text-2{
  color: rgb(4, 170, 90);
  font-size: 70px;
  font-weight: bold;
  height: 13vh;

}
.text-3{
  color: white;
  width: 50%;
  text-align: center;
  line-height: 5vh;
  max-width: 100vh;

}
.main-btn-1{
  margin: 10px;
  background-color: rgb(4, 170, 90);
  color: white;
  padding: 0px 20px;
  /* font-weight: bold; */
  height: 40px;
  border: none;
  border-radius: 5px;
}
.main-btn-2{
  margin: 10px;
  background-color: transparent;
  color: white;
  padding: 0px 20px;
  /* font-weight: bold; */
  border: .5px solid white;
  height: 40px;
  border-radius: 5px;
}

/* section main-parent end */

/* section card start */

.card{
  background-color: rgb(245, 245, 245);
  padding: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-height: 370px;
}

.main-text-container{
  text-align: center;
  padding: 1% 0%;
  margin: 1%;
  
}

.main-text-1{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

.card-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1% 0%;
  margin: 20px;
}

.cards{
  background-color: white;
  padding: 50px 10px 100px 10px ;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: 0.3s ease;
  border: 5px solid white;
  border-radius: 5px;

}

.cards:hover{
  transform: translateY(-20px);
  border: 5px solid rgb(255, 69, 0) ;
}

.card-img{
  background-color: rgb(255, 69, 0);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.card-text-1{
  font-size: 20px;
  font-weight:bold;
  text-align: center;
  letter-spacing: 1px;
}
.card-text-2{
  text-align: center;
  font-size: 14px;
}
/* section card end */

/* section do start */

.do{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin-top: 10%;

}

.do-container{
  max-width: 40%;
  padding: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.do-text-1{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(3, 141, 74);
}
.do-text-2{
  font-size: 48px;
  font-weight: bold;
}
.do-text-3{
  margin: 3% 0%;
  text-align: justify;
  max-width: 90%;
  color: rgb(83, 83, 83);
}

.do-li p{
  font-weight: 500;
  margin-top: 0.2%;
}

.do-li{
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-top: 1%;
}
.do-li img{
  max-width: 17px;
  margin-top: 1%;
}

/* section do end */

/* section more start */

.more{
  margin: 5% 4.5%;
  background-color: rgb(241, 248, 245) ;
  padding: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 10px;
}
.more-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.more-text-1{
  font-size: 40px;
  font-weight: bold;
}

.more-text-2{
  color:rgb(83, 83, 83);
  margin: 1.5% 0% 1% 0%;
}

.more-ul{
  display: flex;
  justify-content: space-evenly;
  margin: 2% 32%;
  color:rgb(83, 83, 83);
}

/* section more end */

/* section footer start */

.footer{
  background-color:  #001831;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 2%;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.171);
}

.footer-img{
  margin-top: 2%;
}

.footer-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%;
  padding: 20px;
}

.footer-link-text{
  font-size: 20px;
  font-weight: 600;
  }

.footer-link-img img{
  background-color: white;
  border: none;
  border-radius: 40%;
  padding: 2px;
  margin: 5% 0% 0% 7%;
  max-width: 20%;
}

.footer-end{
  font-size: 15px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 3%;
  color: rgba(255, 255, 255, 0.8);
}

/* section footer end */


